:root {
  /* --primary-color: #fffeef; */
  /* --secondary-color: #4c0a02; */
  --primary-color: #FFF5E4;
  --secondary-color: #47061C;
  --text-color: #333333;
  --accent-color: #ff6f61;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  user-select: none;
}

/* Apply styles for all scrollbars in the document */
*::-webkit-scrollbar {
  width: 0px; /* Set scrollbar width */
}

*::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark color for the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

*::-webkit-scrollbar-track {
  background: white; /* Remove scrollbar background */
}

.wrapper {
  min-height: 100vh; /* setting wrapper to cover the whole screen at minimum*/
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1; /* Makes this section take all remaining space*/
}
