.wrapper{
    min-height: 100vh; /* setting wrapper to cover the whole screen at minimum*/
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;/* Makes this section take all remaining space*/
}