.rightContent header ul li img {
  height: 4rem;
  width: 4rem;
  /* filter: invert(100%); */
}
.rightContent header ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
  gap: 0.5rem;
}
.rightContent header ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* background-color: var(--secondary-color); */
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: solid var(--primary-color) 2px;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}
.rightContent header ul li h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0.2rem;
  color: black;
  width: 100%;
  text-align: center;
}
.rightContent header ul li a:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 0.3rem black;
  border: solid var(--secondary-color) 2px;
}
.rightContent header ul li a:active {
  cursor: pointer;
  transform: scale(0.95, 0.95);
  box-shadow: 0.4rem 0.4rem 0.3rem black;
  border: solid var(--secondary-color) 2px;
  opacity: 0.5;
}
.rightContent hr {
  box-shadow: 0 0.15rem 0.1rem black;
}
.selected{
  box-shadow: 0.2rem 0.2rem 0.2rem black;
  border: solid black 2px;
}
@media (max-width: 426px) {
  .rightContent header ul{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
  }
  .rightContent header ul li a{
    width: 25vw;
  }
  .rightContent header ul li{
    height: fit-content;
  }
  .rightContent header ul li img {
    height: 3rem;
    width: 3rem;
  }
  .rightContent header ul li h4 {
    font-size: 0.9rem;
  }
  .rightContent header ul li a:hover {
    cursor: pointer;
    box-shadow: none;
    border:none;
  }
  .rightContent header ul li a:active {
    cursor: pointer;
    transform: scale(0.95, 0.95);
    box-shadow: 0.4rem 0.4rem 0.3rem black;
    border: solid var(--secondary-color) 2px;
    opacity: 0.5;
  }
}