.currEvents hr {
  box-shadow: 0 0.1rem 0.05rem white;
}
.currEvents {
  background-color: var(--secondary-color);
  margin: 1rem 0;
  padding: 1rem 2rem;
  animation: eventsReveal 0.5s ease-in-out;
  border-radius: 5px;
}
@keyframes eventsReveal {
  0%{
    opacity: 0;
    transform: translateY(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
.currEvents ul li {
  list-style-type: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}
.currEvents ul li a h3{
    font-weight: 550;
}
.currEvents ul {
  padding: 0;
}
.currEvents ul li a {
  text-decoration: none;
  color: black;
  font-style: italic;
  position: relative;
}
.currEvents ul li a * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.currEvents ul li:hover {
  cursor: pointer;
  transform: scale(1.01);
  opacity: 1;
  filter: contrast(200%);
}
.currEvents ul li:active {
  transform: scale(1);
  opacity: 0.5;
}
.currEvents ul li a .specifics h3 {
  margin: 0.6rem;
  width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: clamp(0.8rem, 5vw, 1.2rem);
}
.currEvents ul li a img {
  height: 4rem;
  width: 4rem;
  margin: auto 0;
  border-radius: 5px;
  filter: contrast(130%);
}
.currEvents ul li a {
  display: flex;
}
.specifics {
  display: flex;
  flex-direction: column;
  color: black;
}
.header h1{
  font-size: clamp(1rem, 6vw, 1.6rem);
  width: fit-content;
  margin: 0.8rem 0;
  padding: 0 0.5rem;
  border-radius: 10px;
  color: var(--secondary-color);
  border: solid var(--secondary-color) 2px;
  box-shadow: 0 0.25rem 0.2rem var(--secondary-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation: reveal 0.5s ease-in-out;;
}
@keyframes reveal {
  0%{
    opacity: 0;
    transform: translateX(-1rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.noEventHeader{
  text-align: center;
  /* color: var(--text-color); */
  color: white;
  font-size: clamp(0.3rem, 4vw, 1.6rem);
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}
@media (max-width: 426px) {
  .currEvents ul li a img{
    height: 3rem;
    width: 3rem;
  }
  .currEvents ul li a .specifics h3{
    margin: 0.3rem 0.5rem;
    width: 65vw;
  }
  .currEvents{
    padding: 0.1rem 0.5rem;
  }
  .currEvents ul li a{
    width: 100%;
  }
}