.footer{
    /* position: absolute; */
    width: 100%;
    /* bottom: 0; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--secondary-color);
    color: white;
    padding: 1rem 0;
}
.footer hr{
    height: 100%;
    margin: auto;
}
.socialsSection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.socialsSection ul li{
    list-style-type: none;
    transition: all 0.15s ease-in-out;
    filter: saturate(0%) brightness(200%);
}
.socialsSection ul{
    display: flex;
    gap: 1rem;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.socialsSection ul li:hover{
    transform: translateY(-0.5rem) scale(1.1,1.1);
    filter: saturate(150%) brightness(150%);
    /* filter: drop-shadow(0 0 0.3rem black); */
}
.socialsSection ul li:active{
    transform: translateY(-0.5rem) scale(1.05,1.05);
    filter: saturate(100%) brightness(70%);
}
.socialsSection>h1{
    margin: 0.3rem 0;
    font-size: 1.8rem;
    font-weight: lighter;
}
.newsletterSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.newsletterSection button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--secondary-color);
    border: solid var(--primary-color) 1px;
    font-size: 1.4rem;
    padding: 0.6rem 1.8rem;
    color: white;
    border-radius: 25px;
    transition: all 0.15s ease-in-out;
}
.newsletterSection>h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 1.8rem;
    margin: 0.8rem 0;
}
.newsletterSection button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0.5rem 0.5rem 0.2rem black;
}
.newsletterSection button:active{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0.5rem 0.5rem 0.2rem black;
    opacity: 0.5;
    transform: scale(0.98,0.98);
}