.footer {
  /* position: absolute; */
  width: 100%;
  /* bottom: 0; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--secondary-color);
  color: white;
  /* padding: 1rem 0; */
  position: relative;
}
.footer hr {
  height: 80%;
  margin: auto;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}
.socialsSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.3rem 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.socialsSection ul li {
  list-style-type: none;
  transition: all 0.15s ease-in-out;
  filter: saturate(0%) brightness(200%);
}
.socialsSection ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}
.socialsSection ul li:hover {
  transform: translateY(-0.5rem) scale(1.1, 1.1);
  filter: saturate(150%) brightness(150%);
  /* filter: drop-shadow(0 0 0.3rem black); */
}
.socialsSection ul li:active {
  transform: translateY(-0.5rem) scale(1.05, 1.05);
  filter: saturate(100%) brightness(70%);
}
.socialsSection > h1 {
  margin: 0.3rem 0;
  font-size: clamp(1.3rem, 2vw, 2rem);
  font-weight: lighter;
}
.newsletterSection {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* align-items: center; */
  padding: 0 5rem;
  justify-content: center;
}
.newsletterSection button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--secondary-color);
  border: solid var(--primary-color) 1px;
  font-size: 1.4rem;
  padding: 0.6rem 1.8rem;
  color: white;
  border-radius: 25px;
  transition: all 0.15s ease-in-out;
  width: fit-content;
  margin: auto;
}
.banner_posts {
  width: fit-content;
  margin: auto;
}
.banner_posts span:first-child a {
  color: white;
  transition: all 0.2s ease-in-out;
}
.banner_posts span:first-child a:hover {
  color: lightblue;
}
.newsletterSection > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 1.8rem;
  margin: 0.8rem 0;
}
.newsletterSection span {
  transition: all 0.2s ease-in-out;
}
.newsletterSection span:hover {
  cursor: pointer;
  color: lightblue;
}
.newsletterSection button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0.5rem 0.5rem 0.2rem black;
}
.newsletterSection button:active {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0.5rem 0.5rem 0.2rem black;
  opacity: 0.5;
  transform: scale(0.98, 0.98);
}
.rights {
  text-align: center;
  margin: 0;
  background-color: var(--secondary-color);
  width: 100vw;
  color: white;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}

/* Responsive design */
@media (max-width: 426px) {
  .socialsSection ul {
    gap: 0.5rem;
  }
  .socialsSection {
    margin: 0.5rem 2rem;
    width: 100%;
  }
  .newsletterSection button {
    font-size: 1.1rem;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
  }
  .newsletterSection button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: none;
  }
  .newsletterSection button:active {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-shadow: 0.5rem 0.5rem 0.2rem black;
    opacity: 0.5;
    transform: scale(0.98, 0.98);
  }
  .socialsSection h1 {
    margin: 0;
  }
  .socialsSection ul li:hover {
    transform: none;
    filter: saturate(0%) brightness(200%);
    /* filter: drop-shadow(0 0 0.3rem black); */
  }
  .socialsSection ul li:active {
    transform: scale(1.05, 1.05);
    filter: saturate(100%) brightness(70%);
  }
  .rights {
    text-align: center;
    margin: 0;
    background-color: var(--secondary-color);
    width: 100vw;
    color: white;
    font-size: 0.6rem;
    padding-bottom: 0.2rem;
  }
}
