.homeContent {
  padding: 1rem;
  min-height: 62.5vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10rem;
}
.leftContent button {
  border-radius: 30px;
  background-color: var(--secondary-color);
  padding: 0;
  border: none;
  margin: 0.3rem 0;
  transition: all 0.15s ease-in-out;
}
.leftContent button a {
  text-decoration: none;
  color: white;
  width: 100%;
}
.leftContent button a * {
  background-color: var(--secondary-color);
  border-radius: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0.7rem 1rem;
}
.leftContent button:hover {
  transform: scale(1.01, 1.01);
  box-shadow: 0.4rem 0.5rem 0.1rem black;
}
.leftContent button:active {
  transform: scale(0.98, 0.98);
  box-shadow: 0.4rem 0.5rem 0.1rem black;
  opacity: 0.5;
}
.timer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.timer h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  margin: 0.5rem;
}
.expEvents {
  width: 15vw;
  margin-bottom: 3rem;
}
.expEvents ul {
  overflow: hidden;
  border-radius: 5px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: white;
}
.expEvents ul a li .venueDetails {
  display: flex;
}
.expEvents ul a li * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  text-align: center;
  margin: 0.3rem;
}
.expEvents ul a li {
  transition: all 0.2s ease-in-out;
  background-color: #4c0902;
  backdrop-filter: blur(10px);
  border: solid white 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.expEvents ul a {
  text-decoration: none;
  color: white;
}
.expEvents ul a li h3 {
  font-weight: bolder;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.expEvents ul a li:hover {
  transform: scale(1.01, 1.01);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.expEvents ul a li:active {
  transform: scale(1, 1);
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.5;
}
.rightContent header ul li img {
  height: 3.3rem;
  width: 3.3rem;
  filter: invert(100%);
}
.rightContent header ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(8, 1fr);
  padding: 0;
  gap: 1rem;
}
.rightContent {
  margin-right: 10rem;
}
.rightContent header ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--secondary-color);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: solid var(--primary-color) 2px;
  transition: all 0.15s ease-in-out;
  text-decoration: none;
}
.rightContent header ul li h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  margin: 0.2rem;
  color: white;
}
.rightContent header ul li a:hover {
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem 0.3rem black;
  border: solid var(--secondary-color) 2px;
}
.rightContent header ul li a:active {
  cursor: pointer;
  transform: scale(0.95, 0.95);
  box-shadow: 0.4rem 0.4rem 0.3rem black;
  border: solid var(--secondary-color) 2px;
  opacity: 0.5;
}
.rightContent hr {
  box-shadow: 0 0.15rem 0.1rem black;
}
.currEvents hr {
  box-shadow: 0 0.1rem 0.05rem white;
}
.currEvents {
  background-color: #4c09026b;
  margin: 3rem 0;
  padding: 1rem 2rem;
}
.currEvents ul li {
  list-style-type: none;
  transition: all 0.15s ease-in-out;
}
.currEvents ul {
  padding: 0;
}
.currEvents ul li a {
  text-decoration: none;
  color: black;
  font-style: italic;
  position: relative;
}
.currEvents ul li a * {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}
.currEvents ul li:hover {
  cursor: pointer;
  transform: scale(1.01,1.01);
  font-weight: bolder;
}
.currEvents ul li:active {
  transform: scale(1,1);
  opacity: 0.5;
}
.currEvents ul li a h3:nth-child(3) {
  width: 57vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.currEvents ul li a h3:nth-child(1){
  position: absolute;
  left: 8rem;
  top: -1.2rem;
}