.navbar{
    display: grid;
    grid-template-columns: 2fr 7fr 1fr;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1rem;
    gap: 1rem;
    box-shadow: 0 0.3rem 0.8rem black;
    user-select: none;
}
.linkSection>li{
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.navbar>a{
    color: var(--primary-color);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logoSection{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin: 0;
}
.logoSection img{
    border-radius: 50%;
    box-shadow: 0 0 0.5rem white;
    background-color: white;
}
.logoSection h3{
    margin: 0;
    font-weight: 500;
    color: var(--primary-color);
}
.logoSection h6{
    margin: 0;
    font-weight: lighter;
}
.linkSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkSection ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}
.linkSection ul *{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.linkSection ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 0;
}
.linkSection ul li a{
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    padding:0.4rem 0.5rem;
}
.linkSection ul li a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transform: translateY(-0.2rem);
}
.linkSection ul li a:active{
    opacity: 0.5;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
}
.searchSection{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchSection form{
    position: relative;
}
.searchSection svg{
    position: absolute;
    top: 47%;
    left: 10%;
    transform: translate(-50%,-50%);
}
.searchSection form input{
    width: 7vw;
    padding: 0.5rem 1.8rem;
    font-size: 0.9rem;
    border-radius: 5px;
}
.loginSection{
    margin: auto;
}
.loginSection div{
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    transition: all 0.15s ease-in-out;
}
.loginSection *{
    font-weight: lighter;
}
.loginSection div:hover{
    filter: drop-shadow(0 0 0.1rem var(--primary-color));
    cursor: pointer;
}
.loginSection div:active{
    filter: drop-shadow(0 0 0.1rem var(--primary-color));
    opacity: 0.5;
}
.loginSection h3{
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar .linkSection .dropdown{
    position: absolute;
    top: 5.3rem;
    z-index: 100;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 5px;
    padding: 0.5rem;
    /* border: solid black 0.1rem; */
    box-shadow: 0.3rem 0.3rem 0.3rem black, inset 0 0 0.5rem grey;
    animation: dropdownReveal 0.2s ease-in-out;
    overflow-y: auto;
    height: 46.5%;
}
.navbar .linkSection .dropdown::-webkit-scrollbar{
    width: 0.2rem;
    background-color: var(--secondary-color);
}
.navbar .linkSection .dropdown ul{
    height: 100%;
}
.navbar .linkSection .dropdown li a{
    color: var(--secondary-color);
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-in-out;
    transform: translateY(0);
    width: 100%;
    text-align: center;
}
.navbar .linkSection .dropdown li a:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}
.navbar .linkSection .dropdown li a:active{
    transform: scale(0.95);
    opacity: 0.5;
}
.navbar .linkSection a:nth-child(4){
    position: relative;
}
@keyframes dropdownReveal {
    0%{
        opacity: 0;
        transform: translateY(-0.5rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
    
}