.searchBar {
  grid-area: 1 / 1 / 2 / -1;
  display: flex;
  justify-content: center;
  animation: searchBarReveal 0.5s ease-in-out;
}

.searchBar form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  max-width: 400px;
  background-color: var(--primary-color);
  border-radius: 30px; /* Makes the search bar rounded */
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.575); /* Optional shadow for depth */
}

.searchBar svg {
  fill: black; /* Color for the search icon */
  width: 15px;
  height: 15px;
}

.searchBar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 1rem;
  color: #333;
  background-color: transparent; /* Transparent background */
  border-radius: 20px;
}

.searchBar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  padding: 0.6rem;
  border-radius: 50%; /* Rounded button */
  cursor: pointer;
  transition: all 0.3s ease;
}
@keyframes searchBarReveal {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchBar button:hover {
  box-shadow: 0 0 0.2rem var(--secondary-color);
}
.searchBar button:active {
  background-color: #169f92;
  transform: scale(0.95, 0.95);
}
.searchBar button:focus {
  outline: none;
}
