.cardsSection {
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
  padding: 1rem;
  /* grid-auto-flow: column; */ /*This is used to fill the grid column wise*/
}
.cardsSection > .card1 {
  grid-area: 1 /1 /4 /1;
}
.card {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.card h3 {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card1 h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5rem 0;
}
.card1{
    padding: 1rem;
}
.cardsSection img {
  border-radius: 10px;
}
.card1 img{
    height: 20rem;
    width: 30rem;
}
.card img{
    height: 6rem;
    width:10vw;
}
.topStories {
  margin: 2rem 4rem;
  overflow: hidden;
}
.cardsSection section{
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    animation: reveal 0.8s ease-in-out;
    box-shadow: 0 0.4rem 0.3rem rgba(0, 0, 0, 0.151);
}
@keyframes reveal {
    0%{
        opacity: 0;
        transform: translateY(10rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.cardsSection section:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.363);
    transform: translateY(-0.2rem);
}
.cardsSection section:active{
    cursor: pointer;
    box-shadow: 0 0 1cqb rgba(0, 0, 0, 0.692);
    transform: translateY(0) scale(0.99);
    opacity: 0.8;
}
.topStories h1{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem;
    position: relative;
    width: fit-content;
}
.topStories h1::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 10%;
    background-color: var(--secondary-color);
    animation: revealBefore 0.8s ease-in-out;
}
@keyframes revealBefore {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.topStories p{
    opacity: 0.5;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}